body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  background: #555;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #227799;
}

h1 {
  margin-top: 0.5rem;
}

h2 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

input[type="button"] {
  cursor: pointer;
}

.channel-name{
  color: #333;
}

.channel-header{
  font-size: large;
}

input.validation-color.ng-valid.ng-touched{
  background-color: #78FA89;
}

input.validation-color.ng-invalid.ng-touched{
  background-color: #FA787E;
}

.pointer {
  cursor: pointer;
}

.default-cursor{
  cursor:default;
}

.roundnborder{
  border: 1px solid #CCC;
  box-shadow: 0.5rem 0.5rem 0.4rem 0rem rgba(0,0,0,0.75);
  border-radius: 2rem;
}

.outlined{
  margin: 2px;
  padding: 4px;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-radius: 0.2rem;
}

.outlined:hover{
  padding:3px;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  border-bottom: 2px solid #DDD;
  border-right: 2px solid #DDD;
}

.border{
  margin: 0.2rem;
  padding: 0.2rem;
  border: 2px solid#555;
}

.heavy-border{
  margin: 0.2rem;
  padding:0.2rem;
  border: 3px solid #555;
}

.center-block:before{
  display: inline-block;
  vertical-align: middle;
}

.center{
  display: inline-block;
  vertical-align: middle;
}

#science-canvas{
  position:absolute;
  z-index:-100;
}

.control-container{
  position:absolute;
  right: 95%;
  top: 0.2rem;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.control-container.retracted{
  right: 3rem;
}

.control-spacer{
  height: 5rem;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.control-spacer.retracted{
  height: 0;
}

#controls{
  position:fixed;
  display: table;
  width:94%;
  height: 4rem;
  padding: 0.1rem 5rem 0.1rem 0.3rem;
  background-color: #67779C;
}

#control-toggle{
  display: table-cell;
  vertical-align: middle;
  width: 2.5rem;
  text-align: center;
  font-size: xx-large;
  border-right: 2px solid #aaa;
}

.control-block{
  display: inline-block;
}

.control-block-right{
  display:inline-block;
  float: right;
}

#title-text{
  margin-left:2rem;
  font-size: xx-large;
}

.cabinet {
  float:left;
  padding-right:0.7rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid #ccc;*/
}

.panel {
  width:100%;
  margin-bottom: 0.7rem;
  overflow-y: auto;
  overflow-x:auto;
}

.panel.closed{
  overflow-y:hidden;
  overflow-x:hidden;
  max-height: 0;
  transition-property:all;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.pop-button{
  float:right;
  width:1.2rem;
  margin-top: 0.3rem;
  margin-right:-1.8rem;
  cursor: pointer;
}

.col-odd > .row-odd{
  background-color: #506490;
}

.col-odd > .row-even {
  background-color: #8893AD;
}

.col-even > .row-odd{
  background-color: #ADB3BF;
}

.col-even > .row-even {
  background-color: #67779C;
}

.inpanel{
  padding:0.4rem 0.4rem;
  margin:0.4rem 0.35rem;
  border-radius:1.5rem;
}

.tag-span{
  display:inline-block;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background: #C6E4AE;
  margin: 0.1rem 0.2rem;
  padding: 0 0.2rem;
}
