<div id="panel-create-modal" ng-controller="channelCreateController">
  <div ng-click="createShow = true" class="pointer" ng-show="!createShow">
    Create a new channel
  </div>
  <modal-dialog show="createShow" width="75%">
    <div style="width: 55%; display:inline-block" ng-show="$root.user.isAdmin">
      <div class="border">
        <h3>Add Creators</h3>
        <br>
        <form name="newCreatorForm">
          Creator name:
          <input type="text"
            class="input-required validation-color"
            ng-model="newCreator.name"
            ng-model-options="{ updateOn: 'default', debounce: {'default': 250} }"
            required/> *
          <br>
          Description:
          <input type="text"
            ng-model="newCreator.description"/>
          <br>
          Website:
          <input type="url"
            class="validation-color"
            ng-model="newCreator.contact.website"/>
          <br>
          Email:
          <input type="email"
            class="validation-color"
            ng-model="newCreator.contact.email"/>
          <br>
          Twitter:
          <input type="url"
            class="validation-color"
            ng-model="newCreator.contact.twitter"/>
          <br>
          Facebook:
          <input type="url"
            class="validation-color"
            ng-model="newCreator.contact.facebook"/>
          <br>
          Tumblr:
          <input type="url"
            class="validation-color"
            ng-model="newCreator.contact.tumblr"/>
          <br>
          <br>
          <input type="button"
            value="send"
            ng-if="!dupeCreator && newCreatorForm.$valid"
            ng-click="formNewCreator(newCreatorForm)"/>
          <div style="background: #FA787E"
            ng-if="!newCreatorForm.$valid">
            Form incomplete
          </div>
          <div style="background: #FA787E"
            ng-if="dupeCreator">
            Already in the DB
          </div>
        </form>
      </div>
    </div>
    <div style="width: 40%; display:inline-block" ng-show="$root.user.isAdmin">
      <div class="border">
        <h3>Add Tags</h3>
        <br>
        <form name="newTagForm">
          Tag name:
          <input type="text"
            class="input-required validation-color"
            ng-model="newTag.name"
            ng-model-options="{ updateOn: 'default', debounce: {'default': 250} }"
            required/> *
          <br>
          Tag category:
          <input type="text"
            class="input-required validation-color"
            ng-model="newTag.category"
            ng-model-options="{ updateOn: 'default', debounce: {'default': 250} }"
            required/> *
          <br>
          <br>
          <input type="button"
            value="send"
            ng-if="!dupeTag && newTagForm.$valid"
            ng-click="formNewTag(newTagForm)"/>
          <div style="background: #FA787E"
            ng-if="!newTagForm.$valid">
            Form incomplete
          </div>
          <div style="background: #FA787E"
            ng-if="dupeTag">
            Already in the DB
          </div>
        </form>
      </div>
    </div>
  </modal-dialog>
</div>
