
<div class="control-container" ng-class="{'retracted': menu.retracted}">
  <div id="controls" class="roundnborder">
    <div id="control-toggle" class="pointer"
      ng-click="menu.retracted = !menu.retracted">
      ⚙
    </div>
    <div style="margin-left: 0.3rem;">
      <div class="outlined control-block"
        ng-if="$root.user.isAdmin">
        <ng-include src="'create.html'"></ng-include>
      </div>
      <div class="outlined control-block-right">
        User: {{$root.user.name}}
      </div>
      <div class="outlined control-block-right">
        <ng-include src="'login.html'"></ng-include>
      </div>
      <div class="outlined" id="filter-inputs">
        Creator: <input ng-model="filter.creators">
        Tags: <select ng-model="filter.selectedTag"
          ng-options="tag.name as tag.name for tag in tags">
          <option value="">-- all --</option>
        </select>
        <br/>
        <!--query: {{filter}}
        <br/>-->
      </div>
    </div>
  </div>
</div>
