<div class="inpanel" style="background:linear-gradient(to bottom, rgba(255,255,255,0.87) 0%,rgba(255,255,255,0.87) 100%),
    url({{channel._youtube[0].thumbnail}}) repeat no-repeat">
  <h2><a class="channel-name" href="{{channel.location}}">{{channel.name}}</a></h2>
  <div>
    <span class="tag-span" ng-repeat="tag in channel._tags">{{tag.name}}</span>
  </div>
  <div class="outlined">
    <p>
      <span class="channel-header">Description:</span>
      {{channel.description}}
    </p>
  </div>
  <div ng-repeat="creator in channel._creators">
    <span ng-click="authorShow = !authorShow">{{creator.name}}</span>
    <ul ng-show="authorShow">
      <li>
        <a ng-if="creator.contact.email" ng-href="{{creator.contact.email}}">email</a>
        <span ng-if="!creator.contact.email">no email :(</span>
      </li>
      <li>
        <a ng-if="creator.contact.youTube" ng-href="{{creator.contact.youTube}}">YouTube</a>
        <span ng-if="!creator.contact.youTube">no YouTube :(</span>
      </li>
      <li>
        <a ng-if="creator.contact.Website" ng-href="{{creator.contact.Website}}">Website</a>
        <span ng-if="!creator.contact.Website">no Website :(</span>
      </li>
      <li>
        <a ng-if="creator.contact.Twitter" ng-href="{{creator.contact.Twitter}}">Twitter</a>
        <span ng-if="!creator.contact.Twitter">no Twitter :(</span>
      </li>
      <li>
        <a ng-if="creator.contact.Facebook" ng-href="{{creator.contact.Facebook}}">Facebook</a>
        <span ng-if="!creator.contact.Facebook">no Facebook :(</span>
      </li>
    </ul>
  </div>
</div>
