
<div class="control-spacer" ng-class="{'retracted': controlsRetracted}"></div>
<ng-include src="'menu.html'"></ng-include>
<canvas id="science-canvas"></canvas>

<div id="header">
  <h1 id="title-text">Educational Videos</h1>
</div>

<div id="channel-view">
  <div ng-repeat="modColumn in splitChannels"
    ng-class="{'col-even' : !$even, 'col-odd' : !$odd}"
    ng-style="{ width: 99 / windowAttr.columns + '%' }"
    class="cabinet">
    <div ng-repeat="channel in modColumn"
      ng-class="{'row-even' : !$even, 'row-odd' : !$odd}"
      ng-cloak
      class="panel roundnborder">
      <ng-include src="'panel.html'"></ng-include>
    </div>
  </div>
</div>
